@import "./my-theme.scss";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

.container-fluid{
  margin: 15px;

    h5 {
        color: $purple;
        font-family: 'Dancing Script',cursive; 
        font-size: x-large;
    }

    .card{
        background-color: $primary-dark;
        align-items:center ;
        padding-top: 15px;
    }

    .btn{
        background-color: $purple;
        font-family: 'Dancing Script',cursive;
        font-size: x-large;
        color: $primary;
    }
    .card-text{
        color: $primary;
        font-family: 'Dancing Script',cursive;
        font-size: x-large;
    }



  
}